<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <JDBC name="databaseAppender" tableName="logs">
            <DriverManager connectionString = "jdbc:postgresql://localhost:5432/logs" driverClassName = "org.postgresql.Driver" userName = "postgres" password = "qwerty12345"/>
            <Column name="date" isEventTimestamp="true" isUnicode="false" />
            <Column name="log_level" pattern="%level" isUnicode="false" />
            <Column name="message" pattern="%message" isUnicode="false"/>
            <Column name="exception" pattern="%throwable" isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="databaseAppender" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>